.version._777 /* version checker */
{
	color: #0000F0;
	background-color: #C4CBFB;
}

@-ms-viewport
{
	width: 350px;
}

@-webkit-viewport
{
	width: 350px;
}

@-o-viewport
{
	width: 350px;
}

@-moz-viewport
{
	width: 350px;
}

@viewport
{
	width: 350px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 350px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFEFF;
}

#page_position_content
{
	padding-top: 13px;
	padding-bottom: 71px;
}

#u185-6
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 9px;
	position: relative;
}

#pu228
{
	width: 0.01px;
	margin-top: 1px;
}

#u228
{
	z-index: 2;
	width: 350px;
	opacity: 0.13;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=13)";
	filter: alpha(opacity=13);
	position: relative;
	margin-right: -10000px;
}

#u228_clip
{
	overflow: hidden;
	width: 350px;
	height: 451px;
}

#u228_img
{
	margin: -19px -240px -36px -128px;
}

#menuu190
{
	z-index: 10;
	width: 333px;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 7px;
}

#u198
{
	width: 81px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u199
{
	width: 81px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u199:hover
{
	background-color: #999999;
	margin: 0px;
}

#u202-4
{
	width: 81px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u205
{
	width: 82px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}

#u208
{
	width: 82px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u208:hover
{
	background-color: #999999;
	margin: 0px;
}

#u191
{
	width: 82px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u192
{
	width: 82px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u195-4
{
	width: 82px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u252
{
	width: 82px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u255
{
	width: 82px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u192.MuseMenuActive,#u255:hover
{
	background-color: #999999;
	margin: 0px;
}

#u199:active,#u208:active,#u255:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u211-4,#u258-4
{
	width: 82px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u237
{
	z-index: 35;
	width: 336px;
	min-height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

body
{
	position: relative;
	min-width: 350px;
}

#page .verticalspacer
{
	clear: both;
}

