.version._777 /* version checker */
{
	color: #00001B;
	background-color: #E373F5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 361px;
	min-height: 413px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFEFF;
	padding: 80px 9px 77px 10px;
}

#pu185-6
{
	width: 0.01px;
}

#u185-6
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u212
{
	z-index: 27;
	width: 353px;
	min-height: 299px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 8px;
}

#menuu190
{
	z-index: 8;
	width: 361px;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u198
{
	width: 119px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u199
{
	width: 119px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u199:hover
{
	background-color: #999999;
	margin: 0px;
}

#u205
{
	width: 119px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u208
{
	width: 119px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u208:hover
{
	background-color: #999999;
	margin: 0px;
}

#u199:active,#u208:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u202-4,#u211-4
{
	width: 119px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u191
{
	width: 119px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u192
{
	width: 119px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u192.MuseMenuActive
{
	background-color: #999999;
	margin: 0px;
}

#u195-4
{
	width: 119px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

