.version._787 /* version checker */
{
	color: #0000F3;
	background-color: #81F3CE;
}

@-ms-viewport
{
	width: 350px;
}

@-webkit-viewport
{
	width: 350px;
}

@-o-viewport
{
	width: 350px;
}

@-moz-viewport
{
	width: 350px;
}

@viewport
{
	width: 350px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 334px;
	min-height: 485.94259973636827px;
	padding: 13px 8px 71.05740026363173px;
}

#u261-6
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
}

#u259
{
	z-index: 2;
	width: 333px;
	min-height: 428px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#menuu262
{
	z-index: 9;
	width: 333px;
	margin-top: 21px;
	position: relative;
}

#u270
{
	width: 81px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u273
{
	width: 81px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u273:hover
{
	background-color: #999999;
	margin: 0px;
}

#u275-4
{
	width: 81px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u284
{
	width: 82px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}

#u285
{
	width: 82px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u285:hover
{
	background-color: #999999;
	margin: 0px;
}

#u277
{
	width: 82px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u280
{
	width: 82px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u280:hover
{
	background-color: #999999;
	margin: 0px;
}

#u273:active,#u285:active,#u280:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u288-4,#u283-4
{
	width: 82px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u263
{
	width: 82px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u266
{
	width: 82px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u266.MuseMenuActive
{
	background-color: #999999;
	margin: 0px;
}

#u268-4
{
	width: 82px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 350px;
}

#page .verticalspacer
{
	clear: both;
}

