.version.a320 /* version checker */
{
	color: #0000F0;
	background-color: #CA3898;
}

@-ms-viewport
{
	width: 350px;
}

@-webkit-viewport
{
	width: 350px;
}

@-o-viewport
{
	width: 350px;
}

@-moz-viewport
{
	width: 350px;
}

@viewport
{
	width: 350px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 334px;
	min-height: 391.8499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFEFF;
	padding: 81px 7px 97.15000000000009px 9px;
}

#u131-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
}

#u134
{
	z-index: 6;
	width: 334px;
	min-height: 295px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#menuu163
{
	z-index: 7;
	width: 334px;
	border-style: none;
	border-color: transparent;
	background-color: #A7FF46;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u164
{
	width: 110px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u167
{
	width: 110px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u167:hover
{
	background-color: #999999;
	margin: 0px;
}

#u171
{
	width: 110px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u172
{
	width: 110px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u175-4
{
	width: 110px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u178
{
	width: 110px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u181
{
	width: 110px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u172.MuseMenuActive,#u181:hover
{
	background-color: #999999;
	margin: 0px;
}

#u167:active,#u181:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u170-4,#u183-4
{
	width: 110px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 350px;
}

#page .verticalspacer
{
	clear: both;
}

