.version.index /* version checker */
{
	color: #0000ED;
	background-color: #E3C7FC;
}

@-ms-viewport
{
	width: 350px;
}

@-webkit-viewport
{
	width: 350px;
}

@-o-viewport
{
	width: 350px;
}

@-moz-viewport
{
	width: 350px;
}

@viewport
{
	width: 350px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 350px;
	min-height: 570px;
}

#page_position_content
{
	padding-top: 86px;
	padding-bottom: 145px;
}

#u103-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	position: relative;
}

#u105-3
{
	z-index: 6;
	width: 62px;
	min-height: 1px;
	margin-left: 190px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu106
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 29px;
}

#u106
{
	z-index: 9;
	width: 152px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFA70;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	-khtml-border-radius: 21px;
	border-radius: 21px;
	padding-bottom: 9px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u111
{
	z-index: 23;
	width: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
}

#u109-6
{
	z-index: 11;
	width: 161px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 174px;
}

#pu107
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 46px;
}

#u107
{
	z-index: 10;
	width: 152px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #5889FF;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	-khtml-border-radius: 21px;
	border-radius: 21px;
	padding-bottom: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u123
{
	z-index: 25;
	width: 109px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 21px;
}

#u110-6
{
	z-index: 17;
	width: 161px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 174px;
}

body
{
	position: relative;
	min-width: 350px;
}

#page .verticalspacer
{
	clear: both;
}

