.version.index /* version checker */
{
	color: #0000E2;
	background-color: #5F7BEC;
}

@-ms-viewport
{
	width: 350px;
}

@-webkit-viewport
{
	width: 350px;
}

@-o-viewport
{
	width: 350px;
}

@-moz-viewport
{
	width: 350px;
}

@viewport
{
	width: 350px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 350px;
	min-height: 499px;
	padding-bottom: 71px;
}

#u216
{
	z-index: 2;
	width: 350px;
	opacity: 0.19;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=19)";
	filter: alpha(opacity=19);
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u216_clip
{
	overflow: hidden;
	width: 350px;
	height: 428px;
}

#u216_img
{
	margin: -18px -218px -35px -113px;
}

#u103-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 13px;
}

#u105-3
{
	z-index: 8;
	width: 62px;
	min-height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 190px;
}

#u106
{
	z-index: 11;
	width: 152px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFA70;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	-khtml-border-radius: 21px;
	border-radius: 21px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 18px;
}

#u111
{
	z-index: 25;
	width: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
}

#u107
{
	z-index: 12;
	width: 152px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #5889FF;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	-khtml-border-radius: 21px;
	border-radius: 21px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 18px;
}

#u123
{
	z-index: 27;
	width: 79px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 36px;
}

#u109-6
{
	z-index: 13;
	width: 161px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 192px;
}

#u110-6
{
	z-index: 19;
	width: 161px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 192px;
}

body
{
	position: relative;
	min-width: 350px;
}

#page .verticalspacer
{
	clear: both;
}

